.container {
	
	width: 640px;
	height: 640px;
	margin: 0;
	padding: 0;

	position: absolute;
	left: 50%;	
	top:30%;
	transform: translate(-50%, -30%);
	border: 2px solid purple;
}



.blockDiv {
	border: 0;
	margin: 0;
	padding: 0;
	float: left;
	background-color: white;
	border: 1px solid black;
}


.color {
	background-color: red;
}

.button {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	padding: 0; 
	float: right;

}

.gridSizeButton {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	right: 8px;
	top: 110px;


}


.black10 {
	background-color: #e6e6e6;
}

.black20 {
	background-color: #333333;
}