.container {
	
	max-width: 352px;
	margin: 0;
	padding: 0;

	position: absolute;
	left: 50%;	
	top:30%;
	transform: translate(-50%, -30%);
}



.blockDiv {
	border: 0;
	margin: 0;
	padding: 0;
	float: left;
	background-color: white;
	border: 1px solid black;
}


.color {
	background-color: red;
}

.button {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	padding: 0; 
	float: right;

}

