

html {
	background: linear-gradient(#F0F8FF,#ffddb3) fixed;
	min-height: 100%;
}






.container {
	
	width: 640px;
	height: 640px;
	margin: 0;
	padding: 0;

	position: absolute;
	left: 50%;	
	top:30%;
	transform: translate(-50%, -30%);
	border: 2px solid purple;
}



.blockDiv {
	border: 0;
	margin: 0;
	padding: 0;
	float: left;
	background-color: white;
	border: 1px solid black;
}




.clearButton {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	padding: 0; 
	float: right;
	
}

.gridSizeButton {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	right: 8px;
	top: 110px;


}

.colorButton {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	padding: 0;
	position: absolute;

}

.colorButtonOff {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	top: 110px;

}





.black10 {
	background-color: #e6e6e6;
}

.black20 {
	background-color: #cccccc;
}

.black30 {
	background-color: #b3b3b3;

}

.black40 {
	background-color: #999999;

}

.black50 {
	background-color: #808080;
}

.black60 {
	background-color: #666666;
}

.black70 {
	background-color: #4d4d4d;
}

.black80 {
	background-color: #333333;
}

.black90 {
	background-color: #1a1a1a;
}

.black100 {
	background-color: #000000;
}



.white {
	background-color: white;
}